body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.msg-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card {
    min-width: 350px;
    border: none;
    border-radius: 10px;
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}


.message {
    flex-direction: column;
    align-items: flex-start;
    max-width: 75%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
}

.my-message {
    align-self: flex-start;
    background-color: #1e1e1e;
    border-radius: 20px 20px 20px 0px; /* Rounded corners for a bubble effect */
    position: relative;
}

.other-message {
    align-self: flex-end;
    margin-left: 2rem;
    background-color: #2a2a2a;
    border-radius: 20px 20px 0 20px; /* Rounded corners for a bubble effect */
}


/* Image within Messages */
.image-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.image-msg-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #333;
    margin-bottom: 5px;
}

/* Message Content */
.message-content {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 5px; /* Space between content and time */
    word-wrap: break-word; /* Wrap long words */
}

/* Time */
.message-time {
    font-size: 10px;
    color: #888888;
    text-align: right;
}

.sidebar {
    width: 250px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2; /* Ensure the sidebar appears above other content */
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(-250px);
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: #0077FF;
    margin-bottom: 30px;
}

.navigation {
    width: 100%;
}

.user-info {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    overflow: hidden;
    align-items: center;
    padding: 15px 20px;
    color: #EAEAEA;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.user-info:hover {
    background-color: #333;
}

.user-info h6 {
    color: #605d5d;
}

.nav-link {
    position: relative;
    display: block;
    padding: 15px 20px;
    color: #EAEAEA;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.unread-notif {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: #c62727;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    background-color: #333;
}

.hide-behind.active-hide {
    position: absolute;
    width: 99vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #121212;
    opacity: 0.6;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.sign-out-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    border-radius: 10px;
    padding: 3rem 4rem;
    z-index: 5;
}

.sign-out-container h3 {
    margin-bottom: 2rem;
}

.sign-out-btn {
    width: 80px;
    padding: 0.6rem 0.4rem;
    color: white;
    border-radius: 9px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-out-btn:hover {
    opacity: 0.8;
}

.sign-out-btn:active {
    opacity: 0.6;
}

.leave-btn {
    background-color: #1e8324;
}

.no-leave-btn {
    background-color: tomato;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: #EAEAEA;
    cursor: pointer;
}

#file-input-btn {
    margin-right: 5px;
    border: none;
    background-color: transparent;
    color: #ffffff;
}

#file-input-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a4a;
}


@media (max-width: 768px) {

    .sidebar {
        z-index: 2;
        transform: translateX(-250px);
        animation-name: close-sidebar;
        animation-duration: 1s;
    }

    .sidebar-toggle {
        display: block;
        z-index: 3;
    }

    @keyframes show-sidebar {
        from {
            transform: translateX(-250px);
        }
        to {
            transform: translateX(0px);
        }
    }

    @keyframes close-sidebar {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(-250px);
        }
    }
}
