<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/post-detail-style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container">
        {% if message %}
        <div class="messages">

            {% for msg in message %}
                <h4>{{ msg }}</h4>
            {% endfor %}
        </div>
        {% endif %}
            <aside class="sidebar">
            <div class="logo">
                <img style="width: 100px; height: 100px; border-radius: 5px" src="{% static 'img/default.png' %}">
            </div>
            <nav class="navigation">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                {% if notifications > 0 %}
                <a href="{% url 'notifications' %}" class="nav-link">Notification <p class="unread-notif">{{ notifications }}</p></a>
                {% else %}
                <a href="{% url 'notifications' %}" class="nav-link">Notification</a>
                {% endif %}
                <a href="{% url 'profile' username=authenticated_user.username %}" class="nav-link">Profile</a>
                <a href="{% url 'msg-session' %}" class="nav-link">Messages</a>
                <a onclick="openSignout()" href="#" class="nav-link">Logout</a>

                <div class="user-info">
                    <div class="user-info-img">
                        <img style="width: 50px; height: 50px; border-radius: 50%" src="{{authenticated_user.profile.image.url}}" alt="llll">
                    </div>
                    <div class="user-info-text">
                        <h4>{{ authenticated_user.profile.first_name}} {{ authenticated_user.profile.last_name }}</h4>
                        <h6>@{{ authenticated_user.username }}</h6>
                    </div>
                </div>
            </nav>
            <div class="hide-behind">
            </div>
        </aside>
        <div class="sign-out-container hidden">
            <h3>Do You Want To Log Out?</h3>
            <div style="display: flex; justify-content: space-evenly; align-items: center;">
                <form method="post" action="{% url 'sign-out' %}"> {% csrf_token %}<button type="submit" class="sign-out-btn leave-btn">Yes</button>
                </form>
                <button onclick="openSignout()" class="sign-out-btn no-leave-btn">No</button>
            </div>
        </div>
        <div onclick="sidebarShow()" class="sidebar-toggle" id="sidebarToggle">&#9776;</div>

    <div class="main-content">
                 <header class="header">
                <input type="text" class="search-bar" placeholder="Search users...">
                     <form id="search-form" method="get" action="">
                <button onclick="setSearchKeyword()" class="search-button">
                <i class="search-icon bi bi-search"></i>
                </button>
                </form>
                </header>
   <div style="margin-top: 2rem; height: fit-content;" class="post-container">
                    <div class="post-header">
                        <div style="display: flex; justify-content: space-evenly; align-items: center; gap: 1rem">
                            <a href="{% url 'profile' username=tweet.user.username %}"><img alt="sss" src="{{ tweet.user.profile.image.url }}"></a>
                            <a href="{% url 'profile' username=tweet.user.username %}"><h3>{{ tweet.user.profile.first_name }}</h3></a>
                        </div>
                        {% if parent_tweet is not None %}
                        <a style="text-decoration: none; color: #5f9bda;" href="{% url 'tweet-detail' tweet_id=parent_tweet.id %}">replied on the tweet for {{ parent_tweet.user.username }}</a>
                        {% endif %}
                        <p>@{{ tweet.user.username }} · {{ tweet.time_difference_from_now }}</p>
                    </div>
                    <div class="post-content">
                        <p>{{ tweet.tweet }}</p>
                        {% if tweet.image %}
                        <img style="height: 400px" src="{{ tweet.image.url }}" alt="Post Image">
                        {% endif %}
                    </div>
                    <div class="post-footer">
                        <form method="post" action="{% url 'like_tweet' tweet_id=tweet.id %}">
                            {% csrf_token %}
                        <button  class="like-button {% if like_status %} liked {% endif %}" id="heart-button">
                            <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 1 0-7.78 7.78l1.06 1.06L12 21.35l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                            <br>
                            {{ tweet.likes }}
                        </button>
                        </form>

                        <button onclick="openCreateComment({{ tweet.id }})" class="comment-button" id="comment-button">
                                <svg class="comment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                </svg>
                                <br>
                                {{ tweet.comments }}
                        </button>
                        <button class="post-button">Share</button>
                    </div>
                </div>

            <div class="comments-section">
                <h4>Comments: {{ tweet.comments }}</h4>
                {% for comment in comments %}
                <div style="margin-bottom: 1rem" class="comment">
                    <div class="comment-header">
                        <a style="text-decoration: none; color: white" href="{% url 'profile' username=comment.user.username %}"><img src="{{ comment.user.profile.image.url }}" alt="Commenter Image" class="user-image"></a>
                        <div class="comment-info">
                            <a style="text-decoration: none; color: white" href="{% url 'profile' username=comment.user.username %}"><h3 class="username">{{ comment.user.username }}</h3></a>
                            <p class="timestamp">{{ comment.time_difference_from_now }}</p>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p onclick="show_tweet({{ comment.id }})">{{ comment.tweet }}</p>
                            {% if comment.image %}
                            <div style="text-align: center">
                                <img onclick="show_tweet({{ comment.id }})" style="height: 200px; " src="{{ comment.image.url }}" alt="Post Image">
                            </div>
                            {% endif %}
                    </div>
                    <div class="comment-actions">
                        <form method="post" action="{% url 'like_tweet' tweet_id=comment.id %}" id="like-form-{{ comment.id }}">
                        {% csrf_token %}
                        <button type="submit" style="color: white" class="like-button {% if comment.id in liked_comments_ids %} liked {% endif %}" >
                            <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 1 0-7.78 7.78l1.06 1.06L12 21.35l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                            <br>
                            {{ comment.likes }}
                        </button>
                        </form>
                        <button style="color: white" onclick="openCreateComment({{ comment.id }})" class="comment-button">
                                <svg class="comment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                </svg>
                                <br>
                                {{ comment.comments }}
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
  <div class="create-comment-container hidden">
            <div class="create-comment-header">
                <button onclick="openCreateComment(1)" class="close-btn">&times;</button>
            </div>
            <form action="" method="post" enctype="multipart/form-data" class="create-comment-form">
                {% csrf_token %}
                <textarea name="comment-text" class="comment-caption" placeholder="What's happening?"></textarea>
                <div  class="image-view-container">
                    <img style="width: 100px; height: 100px;" alt="ss" class="image-view-create-post" src="">
                </div>

                <div class="image-upload">
                    <label for="image-input-comment" class="image-upload-label">Choose Image</label>
                    <input type="file" id="image-input-comment" name="comment-image" class="image-input" accept="image/*">
        </div>

        <button type="submit" class="post-btn">Post</button>
    </form>
</div>
</div>
    <script>
         const sidebar = document.getElementsByClassName('sidebar')[0];
        const coverHide = document.getElementsByClassName('hide-behind')[0];
        const signOutContainer = document.getElementsByClassName('sign-out-container ')[0];
        const messages = document.getElementsByClassName('messages')[0];
        const createCommentContainer = document.getElementsByClassName('create-comment-container')[0];
        const createCommentForm = document.getElementsByClassName('create-comment-form')[0];
        if (typeof messages !== 'undefined') {
            setTimeout(function() {
            messages.style.display = 'none';
            }, 4000);
        }
        document.getElementById("image-input-comment").addEventListener("change", event => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    document.getElementsByClassName("image-view-container")[0].style.display = 'flex';
                    document.getElementsByClassName("image-view-container")[0].style.justifyContent = 'center';
                    document.getElementsByClassName("image-view-create-post")[0].src = e.target.result;
                    document.getElementsByClassName("image-view-create-post")[0].style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
                document.getElementById("image-input-comment").addEventListener("change", event => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    document.getElementsByClassName("image-view-container")[0].style.display = 'flex';
                    document.getElementsByClassName("image-view-container")[0].style.justifyContent = 'center';
                    document.getElementsByClassName("image-view-create-post")[0].src = e.target.result;
                    document.getElementsByClassName("image-view-create-post")[0].style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
        function sidebarShow() {
            sidebar.classList.toggle('active');
        }
        function openSignout() {
            coverHide.classList.toggle('active-hide');
            signOutContainer.classList.toggle('hidden');
            signOutContainer.classList.toggle('visible');
        }
        function openCreateComment(parent_id) {
            const baseUrl = "{% url 'reply-tweet' 0 %}".replace('/0/', '/');
            createCommentForm.action = `${baseUrl}${parent_id}/`;
            createCommentContainer.classList.toggle('hidden');
            coverHide.classList.toggle('active-hide');
        }

        window.onbeforeunload = function() {
        localStorage.setItem('scrollPos-detail', window.scrollY);
        };
            window.onload = function() {
        // Get the stored scroll position from localStorage
                let scrollPos = localStorage.getItem('scrollPos-detail');

                // If a scroll position is stored, scroll to that position
        if (scrollPos) {
            window.scrollTo(0, scrollPos);
            // Optionally, clear the scroll position after restoring
            localStorage.removeItem('scrollPos-detail');
        }
    };

        document.addEventListener("DOMContentLoaded", function() {

            const heartButton = document.getElementById("heart-button");
            heartButton.addEventListener("click", function() {
                heartButton.classList.toggle("liked");
            });
        });
         function show_tweet(tweet_id) {
            let a = document.createElement('a');
            const baseUrl = "{% url 'tweet-detail' 0 %}".replace('/0/', '/');
            a.href = `${baseUrl}${tweet_id}/`;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
         function setSearchKeyword() {
            let keyword = document.getElementsByClassName('search-bar')[0].value;
             if (keyword === '') {
                keyword = 'abcdefghijklmnopqrstuvwxyz1234567890';
             }
             const baseUrl = "{% url 'search_result' 0 %}".replace('/0/', '/');
            document.getElementById('search-form').action = `${baseUrl}${keyword}/`;
        }

    </script>
</body>
</html>